body { 
	margin: 40px;
	@grid-gutter-width: 0px;
}
.nav .container {
	padding-top: 10px;
}
.nav a {
	padding: 20px 10px;
	font-size: 11px;
	font-weight: bold;
	color: #5a5a5a;
	text-transform: uppercase;
}
.nav li {
	display: inline;
}

.jumbotron {
	background-color: #666666;
	background-image: url('imag/test.png');
	height: 700px;
	margin-left:0px;
	margin-right:0px;
}
.jumbotron .container {
	position: relative;
	top: 100px;
}
.jumbotron h1 {
	color: #B3D4FC;
}
.jumbotron p {
	color: #B3D4FC;
	text-transform: uppercase;
	font-weight; bold;
}

.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}

.row h2{
	text-transform: uppercase;
	padding-left: 30px;
}
.portfolio {
	margin-top: 60px;
}
.about-us {
	margin-top: 60px;
}
.contact-form{
	margin-top: 60px;
}

.no-gutter {
	@grid-gutter-width: 0px;
}
