body { 
	@grid-gutter-width: 0px;
	background-color:#5A5A5A;
	color:white;
}
.nav {
	margin-bottom: 0px;
	color:#D1DCD6;
	padding:.5%;
}

.navbar-header .navbar-brand{
	color:white;
}

.navbar-brand {
	color:white;
	font-size:20px;
}

.nav .container {
	padding-top: 10px;
}
.nav a {
	padding: 20px 10px;
	font-size: 11px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}
.nav li {
	display: inline;
}

.jumbotron {
	background-color: #666666;
	background-image: url('imag/test.png');
	height: 600px;
	padding:0px;
	margin-top:0px;
	margin-bottom:0px;
}

.jumbotron .container {
	position: relative;
	
}
.jumbotron h1 {
	color: #D1DCD6;
	text-transform: uppercase;
}
.jumbotron p {
	color: #D1DCD6;
	text-transform: uppercase;
	font-weight; bold;
}


.row h2{
	text-transform: uppercase;
	padding-left: 30px;
}
.portfolio {
	margin-top: 60px;
}
.about-us {
	margin-top: 60px;
}
.contact-form{
	margin-top: 60px;
}

.no-gutter {
	@grid-gutter-width: 0px;
}

.col-hover:hover {
	background-color:blue;
	color:white;
}

#info {
	background-color:#b47335;
	color: #d1dcd6;
	padding: 5%;
}
